@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	@apply m-0 p-0 max-w-full selection:bg-blue-200 !important;
}

/* Sidebar */

.activeBtn {
	@apply flex justify-between items-center py-2 w-full text-[.8rem] tracking-wide truncate bg-black text-white;
}
.inActiveBtn {
	@apply flex justify-between items-center py-2 w-full text-[.8rem] tracking-wide truncate text-gray-800 hover:bg-gray-200;
}

.fade-up {
	animation: fadeUp 0.3s ease-out;
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.circleAvatar {
	@apply bg-white rounded-full overflow-clip h-10 w-10;
}

input {
	@apply p-2 border rounded-lg w-full;
}

label {
	@apply text-[14px] mb-2 font-medium tracking-[1px];
}

button {
	@apply rounded-lg text-blue-800 bg-blue-200 hover:bg-blue-300 hover:text-black font-medium;
}
